In [64]:
import pandas as pd
import numpy as np
import quandl
import requests
from dotenv import load_dotenv
import os
import requests
import json
import yfinance as yf

In [65]:
# Get weapons stock data for Gulf War
tickerStrings = ["LMT", "BA", "RTX", "NOC"]
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", start="1990-02-01", end="1991-02-28")
    data["ticker"] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
    df_list.append(data)

# combine all dataframes into a single dataframe
weapons_gulf_df = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [69]:
weapons_gulf_df

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
1990-02-01,11.963190,11.963190,11.694785,11.733129,4.849936,163000,LMT
1990-02-02,11.656442,11.924847,11.656442,11.924847,4.929182,399676,LMT
1990-02-05,12.039877,12.078221,11.694785,11.694785,4.834085,421192,LMT
1990-02-06,11.694785,11.694785,11.273006,11.311350,4.675589,262430,LMT
1990-02-07,11.273006,11.388037,11.081288,11.273006,4.659743,567892,LMT
...,...,...,...,...,...,...,...
1991-02-21,11.350219,11.576094,11.237281,11.293750,5.196209,648810,NOC
1991-02-22,11.293750,11.576094,11.237281,11.293750,5.196209,410847,NOC
1991-02-25,11.406688,11.519625,11.180813,11.293750,5.196209,408190,NOC
1991-02-26,11.067875,11.067875,10.898469,10.898469,5.075244,475484,NOC
1991-02-27,11.011406,11.350219,10.898469,11.293750,5.259321,524184,NOC

In [66]:
# Convert dataframe to csv
weapons_gulf_df.to_csv("weapons_gulf.csv")

In [67]:
# Get weapon stock data for Russia-Ukraine Invasion
tickerStrings = ["LMT", "BA", "RTX", "NOC"]
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", start="2021-08-24", end="2022-07-29")
    data["ticker"] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
    df_list.append(data)

# combine all dataframes into a single dataframe
weapons_rusua_df = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [70]:
weapons_rusua_df

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2021-08-24,358.970001,360.489990,357.920013,359.000000,348.898285,822600,LMT
2021-08-25,359.690002,360.649994,357.989990,358.750000,348.655365,953500,LMT
2021-08-26,359.100006,361.980011,357.239990,361.619995,351.444580,1172400,LMT
2021-08-27,363.290009,364.329987,361.179993,361.989990,351.804199,1203900,LMT
2021-08-30,362.250000,363.959991,361.750000,362.049988,351.862518,986000,LMT
...,...,...,...,...,...,...,...
2022-07-22,457.369995,463.260010,450.010010,451.850006,451.850006,864700,NOC
2022-07-25,451.890015,459.739990,451.109985,453.320007,453.320007,826500,NOC
2022-07-26,453.149994,455.109985,444.309998,444.649994,444.649994,702500,NOC
2022-07-27,445.579987,447.670013,441.399994,445.809998,445.809998,744600,NOC
2022-07-28,438.390015,455.880005,433.869995,454.459991,454.459991,1016600,NOC

In [71]:
# Convert dataframe to csv
weapons_rusua_df.to_csv("weapons_rusua.csv")