In [16]:
import pandas as pd
import numpy as np
import quandl
import requests
from dotenv import load_dotenv
import os
import alpaca_trade_api as tradeapi
import nasdaqdatalink
import yfinance as yf

In [17]:
# Get gas stock data for Gulf War
tickerStrings = ["XOM", "BP", "COP", "CVX"]
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", start="1990-02-01", end="1991-02-28")
    data["ticker"] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
    df_list.append(data)

# combine all dataframes into a single dataframe
gas_gulf_df = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [18]:
gas_gulf_df

                Open      High       Low     Close  Adj Close   Volume ticker
Date
1990-02-01  11.81250  11.84375  11.75000  11.75000   3.956183  2903200    XOM
1990-02-02  11.78125  11.96875  11.75000  11.96875   4.029834  4246400    XOM
1990-02-05  12.00000  12.09375  11.96875  12.00000   4.040357  5880400    XOM
1990-02-06  11.84375  11.87500  11.56250  11.81250   4.027570  4739600    XOM
1990-02-07  11.75000  12.00000  11.68750  12.00000   4.091499  4108800    XOM
...              ...       ...       ...       ...        ...      ...    ...
1991-02-21  18.15625  18.15625  17.93750  18.06250   5.699901  1743200    CVX
1991-02-22  18.00000  18.21875  17.87500  18.00000   5.680178  1700800    CVX
1991-02-25  18.12500  18.12500  17.78125  17.81250   5.621009  2290800    CVX
1991-02-26  17.78125  18.15625  17.78125  18.06250   5.699901  2321600    CVX
1991-02-27  18.21875  18.75000  18.18750  18.62500   5.877401  3420000    CVX

[1084 rows x 7 columns]

In [21]:
# Convert dataframe to csv
gas_gulf_df.to_csv("gas_gulf.csv")

In [22]:
# Get gas stock data for Russia-Ukraine Invasion
tickerStrings = ["XOM", "BP", "COP", "CVX"]
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", start="2021-08-24", end="2022-07-29")
    data["ticker"] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
    df_list.append(data)

# combine all dataframes into a single dataframe
gas_rusua_df = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [20]:
gas_rusua_df

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2021-08-24,55.290001,55.849998,55.009998,55.360001,53.479130,17915600,XOM
2021-08-25,55.240002,55.770000,54.869999,55.459999,53.575733,13270300,XOM
2021-08-26,55.200001,55.540001,54.630001,54.709999,52.851212,11842600,XOM
2021-08-27,55.400002,56.209999,55.400002,55.770000,53.875202,15822500,XOM
2021-08-30,56.240002,56.340000,55.119999,55.160000,53.285923,14086100,XOM
...,...,...,...,...,...,...,...
2022-07-22,145.559998,146.300003,143.419998,144.190002,144.190002,5887200,CVX
2022-07-25,145.699997,148.610001,144.179993,148.479996,148.479996,6210900,CVX
2022-07-26,149.500000,150.679993,146.529999,147.320007,147.320007,6112800,CVX
2022-07-27,148.339996,150.199997,146.660004,149.259995,149.259995,6223000,CVX
2022-07-28,150.690002,151.470001,148.029999,150.389999,150.389999,6574300,CVX

In [24]:
# Convert dataframe to csv
gas_rusua_df.to_csv("gas_rusua.csv")