In [17]:
import pandas as pd
from pathlib import Path
import seaborn as sns
%matplotlib inline

In [20]:
#gulf_data = Path("./Resources/gas_gulf.csv")
#gulf = pd.read_csv(gulf_data, index_col="Date")
#gulf.head()
#gulf.tail()

              Date      Open      High       Low    Close  Adj Close   Volume
ticker
CVX     1991-02-21  18.15625  18.15625  17.93750  18.0625   5.699901  1743200
CVX     1991-02-22  18.00000  18.21875  17.87500  18.0000   5.680178  1700800
CVX     1991-02-25  18.12500  18.12500  17.78125  17.8125   5.621009  2290800
CVX     1991-02-26  17.78125  18.15625  17.78125  18.0625   5.699901  2321600
CVX     1991-02-27  18.21875  18.75000  18.18750  18.6250   5.877401  3420000

In [19]:
#gulf_data_2 = Path("./Resources/gas_rusua.csv")
#gulf_2 = pd.read_csv(gulf_data_2, index_col="Date")
#gulf_2.head()
#gulf_2.tail()

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2022-07-22,145.559998,146.300003,143.419998,144.190002,144.190002,5887200,CVX
2022-07-25,145.699997,148.610001,144.179993,148.479996,148.479996,6210900,CVX
2022-07-26,149.500000,150.679993,146.529999,147.320007,147.320007,6112800,CVX
2022-07-27,148.339996,150.199997,146.660004,149.259995,149.259995,6223000,CVX
2022-07-28,150.690002,151.470001,148.029999,150.389999,150.389999,6574300,CVX